<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:07:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:07:57</td>   <td>22262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:08:18</td>   <td>43205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:08:41</td>   <td>65594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:08:42</td>   <td>67241</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:08:42</td>   <td>66616</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:07:10</td>   <td>-25480</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:07:10</td>   <td>-24755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:07:36</td>   <td>942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:07:58</td>   <td>23173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:08:19</td>   <td>44055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 12:07:09</td>   <td>-26184</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/23 12:07:17</td>   <td>-17980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLead@617faa95]">login</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/23 12:07:42</td>   <td>7134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLead@617faa95]">login</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/23 12:08:03</td>   <td>28118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLead@617faa95]">login</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/23 12:08:25</td>   <td>50133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLead@617faa95]">login</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/23 12:07:10</td>   <td>-25487</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testcases.TC002_CreateLead@617faa95]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
</table>
